<div class="container">
  <form [formGroup]="forgotForm" class="form">
    <div class="row">
      <div class="col-md-12 border border-secondary pt-3">
        <div class="form-group row">
          <div class="col-md-3">
            <label for="username">UserName/ EmailId</label>
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="username" placeholder="Username" readonly>
            <span class="text-danger" *ngIf="f.username.errors && f.username.dirty">
              <span class="error-msg" *ngIf="f.username.errors.required">Please Enter An UserName/EmailId</span>
              <span class="error-msg" *ngIf="f.username.errors.pattern">Please Enter Valid UserName</span>
            </span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3">
            <label for="password">New Password</label>
          </div>
          <div class="col-md-9">
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
            <span class="text-danger" *ngIf="f.password.errors && f.password.dirty">
              <span class="error-msg" *ngIf="f.password.errors.required">Please Enter Password</span>
            </span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3">
            <label for="confirm_password">Confirm Password</label>
          </div>
          <div class="col-md-9">
            <input type="password" formControlName="confirmPassword" class="form-control"
              placeholder="Confirm Password" />
              <span class="text-danger" *ngIf="f.confirmPassword.errors && f.confirmPassword.dirty">
                <span class="error-msg" *ngIf="f.confirmPassword.errors.required">Please Enter Confirm Password</span>
                <span class="error-msg" *ngIf="f.confirmPassword.errors.confirmedValidator">Password And Confirm Password Not Matched</span>
              </span>
          </div>
        </div>
        <div class="form-group">
          <label for="captcha">Captcha</label>
          <div class="width100per text-center">
            <app-captcha (onCaptchaValidated)="authenticateUser($event)"></app-captcha>
          </div>
        </div>
        <div class="form-group text-center">
          <button class="btn" [ngClass]="forgotForm.valid?'btn-primary':'btn-secondary'" (click)="onSubmit()">Update User</button>
        </div>
      </div>
    </div>
  </form>
</div>
