<mat-tab-group disableRipple>
  <mat-tab label="All">
    <app-appointment-list #All [forDays]="-2" [appointmentList]="appointmentList" (onListChange)="applyFilter($event)" (onListUpdate)="updateList($event)"></app-appointment-list>
  </mat-tab>
  <mat-tab label="Past">
    <app-appointment-list #Past [forDays]="-1" [appointmentList]="appointmentList" (onListChange)="applyFilter($event)" (onListUpdate)="updateList($event)"></app-appointment-list>
  </mat-tab>
  <mat-tab label="Today">
    <app-appointment-list #Today [forDays]="0" [appointmentList]="appointmentList" (onListChange)="applyFilter($event)" (onListUpdate)="updateList($event)"></app-appointment-list>
  </mat-tab>
  <mat-tab label="Upcoming">
    <app-appointment-list #Upcoming [forDays]="1" [appointmentList]="appointmentList" (onListChange)="applyFilter($event)" (onListUpdate)="updateList($event)"></app-appointment-list>
  </mat-tab>
</mat-tab-group>
